<div class="px-[32px] w-full">
    <h2 class="my-4">Danh sách</h2>
    <app-filters></app-filters>
    <div class="my-8">
      <div class="flex my-4">
        <h2 class="mr-2">Danh sách kỳ thi</h2>
        <tui-badge class="badge text-[#FFF] bg-[#ccc] mr-auto"> 100 </tui-badge>
      </div>
      <div class="w-full"> 
        <div class="flex justify-center items-center h-[calc(100vh-64px)]">
            <div class="text-center">
            <img src="../../../assets/images/Shape.png" alt="No data" />
            <p class="text-[#000000] text-[24px] font-bold mt-8">Không có dữ liệu</p>
            <p class="text-[#000000] text-[16px] mt-8">Hiện chưa có dữ liệu trong khoảng thời gian bạn chọn</p>
            </div>
        </div>
      </div>
    </div>
  </div>
  