<div class="px-4">
    <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>
</div>

<div class="flex items-center mt-2 px-2 cursor-pointer" (click)="goBack()">
    <tui-icon icon="@tui.chevron-left" size="s"></tui-icon>
    <h6 class="text-[24px] font-normal text-[#333333]">
        Phỏng vấn
    </h6>
</div>

<div class="p-4 space-y-6 w-2/3 flex justify-center items-center flex-col mx-auto">
    <div class="w-full">
        <app-question-panel [question]="questionData" [totalTime]="totalTime" [isTimeUp]="isTimeUp"
            [hasError]="questionPanelHasError"></app-question-panel>
    </div>

    <div class="flex gap-6 w-full">
        <div class='flex-1'>
            <app-question-stats [stats]="statsData"></app-question-stats>
        </div>
        <div class='flex-1 h-full'>
            <app-candidate-info-card [candidate]="selectedCandidate"
                (viewDetail)="handleViewCandidateDetail()"></app-candidate-info-card>
        </div>
    </div>
</div>

<app-candidate-details *ngIf="showCandidateModal" [candidate]="selectedCandidate" (close)="showCandidateModal = false"
    [show]="showCandidateModal"></app-candidate-details>