<search tuiSearch>
  <form [formGroup]="form">
    <fieldset formArrayName="filters">
      <div class="flex">
        <app-search-input class="w-[337px] h-[44px]"></app-search-input>
        <app-dropdown-button
          class="w-[337px] h-[44px]"
          *ngIf="isDropdownButtonVisible"
        ></app-dropdown-button>
        <app-input-date class="w-[337px] h-[44px]"></app-input-date>
        <app-input-date class="w-[337px] h-[44px]"></app-input-date>
      </div>
      <button tuiButton type="button">Search</button>
    </fieldset>
  </form>
</search>
