<div class="flex flex-col items-center justify-center min-h-screen bg-gray-50">
  <div class="text-center">
    <img src="assets/images/login/404.png" alt="Disconnected" class="w-64 mx-auto mb-8" />
    <p class="text-lg text-gray-700 mb-4">Mất kết nối</p>
    <p class="text-sm text-gray-500 mb-6">Vui lòng kiểm tra kết nối mạng</p>
    <div class="flex justify-center">
    <app-buttons 
    redirectUrl="/"
      (buttonClick)="onButtonClick()"
    type="search" label="Kết nối lại"></app-buttons>
    </div>
  </div>
</div>