button {
  &:hover:not([disabled]) {
    transform: translateY(-1px);
    filter   : brightness(1.1);
  }

  &:active:not([disabled]) {
    transform: translateY(0);
    filter   : brightness(1);
  }
}