<button
  class="flex items-center justify-center px-4 py-2 rounded-md text-sm font-medium focus:outline-none transition-all"
  [ngClass]="{
    'border border-gray-300 bg-white text-gray-700': type === 'join',
    'border border-[#006B68]-500 bg-transparent text-[#006B68]-500':type === 'cancel',
    'border border-[#000000]-500 bg-white': type === 'confirm',
    'bg-[#006B68] text-[#FFFFFF]': type === 'search',
    'opacity-50 cursor-not-allowed': disabled
  }" 
  [disabled]="disabled"
  (click)="onClick()"
  >
  <ng-container *ngIf="iconUrl">
    <img [src]="iconUrl" alt="icon" class="w-4 h-4 mr-2" />
  </ng-container>
  <span>{{ label }}</span>
</button>