<div *ngIf="show" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
    <div class="bg-white w-[900px]  max-w-full p-6 rounded-lg shadow-lg">
        <!-- Header -->
        <div style="border-bottom: 1px solid #ccc;" class="flex justify-between items-center border-b pb-3">
            <h2 class="text-xl font-semibold">Chi tiết hồ sơ</h2>
            <button (click)="closeModal()" class="text-gray-500 hover:text-gray-700">
                <img src="assets/images/infor_candidate/IconDismiss.png" class="w-5 h-5" alt="Đóng" />
            </button>
        </div>

        <!-- Nội dung chính -->
        <div class="flex mt-4 space-x-6 h-[642px] overflow-y-auto">
            <!-- Cột trái: Thông tin cá nhân -->
            <div class="w-1/3 p-4 rounded-lg">
                <div style="border-bottom: 1px solid #ccc" class="pb-4">
                    <h3 class="text-lg font-semibold">{{ candidate.name }}</h3>
                    <p class="text-gray-600">{{ candidate.position }}</p>
                </div>

                <div class="mt-4 space-y-4">
                    <!-- Thông tin cơ bản -->
                    <div>
                        <h4 class="flex items-center text-gray-800 font-medium">
                            <img src="assets/images/infor_candidate/IconPersonal.png" class="w-5 h-5 mr-2" /> Thông tin
                            cơ bản
                        </h4>
                        <p style="margin-top: 8px; margin-block-start: 8px;" class="text-sm text-gray-600">Email: {{
                            candidate.email }}</p>
                        <p style="margin-top: 8px; margin-block-start: 8px;" class="text-sm text-gray-600">Giới tính: {{
                            candidate.gender }}</p>
                        <p style="margin-top: 8px; margin-block-start: 8px;" class="text-sm text-gray-600">Ngày sinh: {{
                            candidate.dob }}</p>
                        <p style="margin-top: 8px; margin-block-start: 8px;" class="text-sm text-gray-600">Chiều cao: {{
                            candidate.height }}cm</p>
                        <p style="margin-top: 8px; margin-block-start: 8px;" class="text-sm text-gray-600">Cân nặng: {{
                            candidate.weight }}kg</p>
                    </div>

                    <!-- Giấy tờ tùy thân -->
                    <div>
                        <h4 class="flex items-center text-gray-800 font-medium">
                            <img src="assets/images/infor_candidate/IconPersonalInfo.png" class="w-5 h-5 mr-2" /> Giấy
                            tờ tùy thân
                        </h4>
                        <p style="margin-top: 8px; margin-block-start: 8px;" class="text-sm text-gray-600">CCCD: {{
                            candidate.idCard }}</p>
                        <p style="margin-top: 8px; margin-block-start: 8px;" class="text-sm text-gray-600">Ngày cấp: {{
                            candidate.issueDate }}</p>
                        <p style="margin-top: 8px; margin-block-start: 8px;" class="text-sm text-gray-600">Nơi cấp: {{
                            candidate.issuePlace }}</p>
                    </div>

                    <!-- Liên hệ -->
                    <div>
                        <h4 class="flex items-center text-gray-800 font-medium">
                            <img src="assets/images/infor_candidate/Icon_Locaiton.png" class="w-5 h-5 mr-2" /> Liên hệ
                        </h4>
                        <p style="margin-top: 8px; margin-block-start: 8px;" class="text-sm text-gray-600">Địa chỉ: {{
                            candidate.address }}</p>
                        <p style="margin-top: 8px; margin-block-start: 8px;" class="text-sm text-gray-600">SĐT: {{
                            candidate.phone }}</p>
                    </div>
                </div>
            </div>

            <!-- Cột phải: Học vấn, công tác, giải thưởng -->
            <div class="w-2/3 space-y-6">
                <!-- Học vấn -->
                <div class="bg-gray-100 p-4 rounded-lg">
                    <h3 class="text-lg font-semibold">Học vấn</h3>
                    <div class="mt-3">
                        <div class="flex justify-between">
                            <div>
                                <p class="text-gray-700 font-medium">{{ candidate.university }}</p>
                                <p class="text-sm text-gray-500">{{ candidate.degree }}</p>
                            </div>
                            <div class="flex ">
                                <img src="assets/images/infor_candidate/IconLibrary.png" class="w-4 h-4 mr-2" />
                                Ngành: {{ candidate.major }}
                            </div>
                        </div>
                        <div class="grid grid-cols-4 gap-2 mt-2">
                            <div class="bg-teal-100 p-2 rounded-md text-center text-teal-700">
                                Xếp loại <div class="font-semibold">{{ candidate.grade }}</div>
                            </div>
                            <div class="bg-teal-100 p-2 rounded-md text-center text-teal-700">
                                Điểm TN <div class="font-semibold">{{ candidate.graduationScore }}</div>
                            </div>
                            <div class="bg-teal-100 p-2 rounded-md text-center text-teal-700">
                                Loại bằng <div class="font-semibold">{{ candidate.degreeType }}</div>
                            </div>
                            <div class="bg-teal-100 p-2 rounded-md text-center text-teal-700">
                                Loại bằng <div class="font-semibold">{{ candidate.degreeType }}</div>
                            </div>
                        </div>
                        <!-- thpt -->
                        <div class="mt-3 space-y-3">
                            <div *ngFor="let education of candidate.education.highSchool"
                                class="flex justify-between p-2 bg-white rounded-md shadow-sm">

                                <div>
                                    <p class="text-gray-700 font-medium">{{ education.name }}</p>
                                    <p class="text-sm text-gray-500">{{ education.level }}</p>
                                </div>
                                <div class="flex gap-2 items-center">
                                    <img [src]="education.icon" class="w-5 h-5" alt="THPT" />
                                    <p class="text-sm text-gray-500">Xếp loại:
                                        <span class="font-semibold">{{education.grade}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Quá trình công tác -->
                <div class="bg-gray-100 p-4 rounded-lg">
                    <div class="flex justify-between">
                        <h3 class="text-lg font-semibold flex items-center">
                            Quá trình công tác
                        </h3>
                        <div class="flex ">
                            <img src="assets/images/infor_candidate/IconLibrary.png" class="w-4 h-4 mr-2" />
                            Kinh nghiệm làm việc: {{ candidate.experience }} năm
                        </div>
                    </div>
                    <div class="mt-3 space-y-3">
                        <div *ngFor="let job of candidate.jobs"
                            class="flex justify-between p-2 bg-white rounded-md shadow-sm">
                            <div class="flex gap-1 items-center">
                                <img src="assets/images/infor_candidate/IconBriefcase.png" class="w-6 h-6 elf-center" />
                                <div>
                                    <p class="font-medium">{{ job.title }}</p>
                                    <p class="text-sm text-gray-600">{{ job.company }}</p>
                                </div>
                            </div>
                            <div>
                                <div class="text-sm text-gray-500">{{ job.period }}</div>
                                <div class="flex gap-2 items-center">
                                    <img src="assets/images/infor_candidate/Location.png" class="" />
                                    <span>{{ job.location }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Giải thưởng -->
                <div class="bg-gray-100 p-4 rounded-lg">
                    <h3 class="text-lg font-semibold flex items-center">
                        Giải thưởng
                    </h3>
                    <div class="mt-3 grid grid-cols-2 gap-2">
                        <div *ngFor="let award of candidate.awards"
                            class="flex items-center gap-3 bg-white p-2 rounded-md text-center shadow-sm">
                            <div>
                                <img src="assets/images/infor_candidate/IconExcellent.png" class="w-5 h-5 mr-2" />
                            </div>
                            <div>
                                <p class="font-medium">{{ award.year }}</p>
                                <p class="text-sm text-gray-600">{{ award.title }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>