<div>
  <div *ngIf="isOpen" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
    <!-- Modal content -->
    <div class="bg-white p-6 rounded-lg shadow-lg w-[600px]">
      <div class="flex justify-between items-center">
        <div class="flex items-center">
          <div class="bg-[#D7F3F2] rounded-full p-2">
            <img src="assets/images/QuestionCircle.png" />
          </div>
          <div class="ml-6">
            <h6 class="text-[20px] font-medium text-[#333333]">
              Xác nhận kiểm tra kỳ thi
            </h6>
            <p class="text-[14px] font-normal text-[#666666] mt-1">
              Kiểm tra thông tin trước khi bắt đầu
            </p>
          </div>
        </div>
      </div>
      <div class="mt-6 flex justify-end">
        <button (click)="close()" class="px-6 py-2 border border-[#006B68] text-[#006B68] rounded">
          Đóng
        </button>
        <button (click)="confirm()" class="px-6 py-2 bg-[#006B68] ml-1 text-[white] rounded">
          Xác nhận
        </button>
      </div>
    </div>
  </div>
</div>