<div class="bg-[#efefef] h-full">
  <div class="px-10 pt-5">
    <app-breadcrumb></app-breadcrumb>

    <div class="flex justify-between items-center mt-4">
      <div class="flex items-center">
        <tui-icon icon="@tui.chevron-left" size="s"></tui-icon>
        <h6 class="text-[24px] font-normal text-[#333333]">
          Thông tin chi tiết kì thi
        </h6>
      </div>
      <button (click)="modal.open()" class="bg-[#006B68] rounded-md px-4 py-2 text-white text-[16px] font-medium">
        Tham gia
      </button>
    </div>
    <!-- Title -->
    <div class="flex items-center mt-4">
      <img src="../../../assets/images/DocumentText.png" />
      <div class="ml-2">
        <div class="inline-flex px-2 items-center bg-[#0000001A] rounded-xl">
          <input type="radio" />
          <p class="text-[14px] font-medium text-[#333333] ml-1">
            Chưa bắt đầu
          </p>
        </div>
        <h4 class="text-[20px] font-normal mt-1">Thí sinh ngoài BIDV</h4>
      </div>
    </div>
    <div class="mt-12">
      <div class="grid grid-cols-2 gap-4 p-4 rounded-lg">
        <div class="bg-white rounded-lg p-4">
          <div class="border-b border-b-gray-400">
            <h2 style="border-bottom: 1px solid #ccc" class="text-lg font-bold mb-4">
              Thông tin đợt thi
            </h2>
          </div>
          <div class="border-t border-t-red-200">
            <app-detail-exam [infoData]="selectedProduct"></app-detail-exam>
          </div>
        </div>
        <div class="">
          <div class="detail-table bg-white shadow-md rounded-lg p-4 h-full">
            <h2 style="border-bottom: 1px solid #ccc" class="text-lg font-bold mb-4">
              Danh sách lãnh đạo
            </h2>
            <div class="overflow-auto max-h-72 tui-scrollbar">
              <app-table [data]="tableData" [columns]="columns"></app-table>
            </div>
          </div>
          <!-- <app-detail-table [tableData]="tableData" [tableColumns]="tableColumns"></app-detail-table> -->
        </div>
      </div>
      <!-- <app-detail-table [infoData]="selectedProduct" [tableData]="tableData" [headers]="headers"
        [tableColumns]="tableColumns"></app-detail-table> -->
    </div>
  </div>
  <!-- <app-loading-page *ngIf="isLoading"></app-loading-page> -->
  <app-modal #modal></app-modal>
</div>