<div class="flex  items-center justify-center min-h-screen bg-gray-50">
  <div>
    <img src="assets/images/login/OTP.png" alt="Disconnected" class="w-64 mx-auto mb-8" />
  </div>
  <div>
    <img src="assets/images/login/LogoBIDVFull.png" />
    <div>Chào mừng bạn đến với buổi phỏng vấn</div>
    <app-search-input placeholder="Nhập mã phòng" iconName="@tui.search"
      class="border border-gray-300 rounded"></app-search-input>
    <!-- <app-room-input></app-room-input> -->
    <app-buttons type="search" label="Vào phòng" (buttonClick)="enterRoom"></app-buttons>
  </div>
</div>