/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", serif;
}

:root {
  --tui-height-s: 40px;
  /* Thay đổi chiều cao của kích thước "s" */
  --border-default: 1px solid rgba(0, 0, 0, 0.2); // Màu #00000033
}
