.tui-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: gray-300 gray-100;
}

.detail-table h2 {
  border-bottom: 1px solid #FFFFFF20;
}

::ng-deep [tuiAppearance][data-appearance='primary'] {
  --t-bg       : white;
  background   : white !important;
  border       : 1px solid #006B68 !important;
  border-radius: 5px;
  color        : white;
}

::ng-deep [tuiAppearance][data-appearance='primary'] {
  --t-bg:  #006B68 ;
  background:  #006B68 ;
  color: var(--tui-text-primary-on-accent-1);
}