<table tuiTable [style.width.rem]="36"
  class="w-full border-collapse text-left border-t border-b border-1 border-gray-300">
  <thead>
    <tr tuiThGroup class="header-table border-b border-gray-300 w-32">
      <th *ngFor="let column of columns" tuiTh>
        <span class="mx-auto w-16 border-b-2 border-red-600"></span> {{ column.label }}
      </th>
      <th tuiTh></th>
    </tr>
  </thead>
  <tbody tuiTbody>
    <tr *ngFor="let item of data">
      <td *ngFor="let column of columns" tuiTd [class.border]="column.hasBorder">
        {{ item[column.key] }}
      </td>

      <!-- Cột Action nếu có truyền vào -->
      <td *ngIf="actionTemplate" tuiTd>
        <ng-container *ngTemplateOutlet="actionTemplate; context: { $implicit: item } "></ng-container>
      </td>
    </tr>
  </tbody>
</table>