

[_nghost-ng-c4079261847] {
  position          : relative;
  text-align        : start;
  background        : var(--tui-background-base);
  border-bottom     : 1px solid var(--tui-border-normal);
  border-left       : 0;
  border-right      : 0;
  border-block-start: none;
  box-sizing        : border-box;
  filter            : opacity(1);
}

[_nghost-ng-c3592356037] {
  border       : 0;
  border-top   : 1px solid var(--tui-border-normal);
  border-right : 1px solid var(--tui-border-normal);
  border-bottom: 1px solid var(--tui-border-normal);
}

[_nghost-ng-c3592356037]:last-child {
  border-right: none;
}

::ng-deep [tuiAppearance][data-appearance='primary'] {
  --t-bg: white;
  background: var(--t-bg);
  color: black;
  border: 2px solid #006B68;
}

::ng-deep [tuiAppearance][data-appearance='flat'] {
  color: black;
}

::ng-deep [data-appearance="primary"]:hover {
  background-color: inherit !important; 
}