<table class="w-full">
    <thead>
        <tr >
            <!-- Lặp qua columns để hiển thị tiêu đề -->
            <th *ngFor="let column of columns" class="table-header">
                {{ column.header }}
            </th>
            <th class="table-header"></th>
        </tr>
    </thead>

    <tbody>
        <!-- Lặp qua từng item trong data để hiển thị từng dòng -->
        <tr *ngFor="let item of data">
            <td *ngFor="let column of columns" class="table-cell">
                {{ item[column.field] }}
              </td>
            <td class="table-cell"><app-buttons (click)="onClickHandle()"   nameButton="Tham gia" *ngIf="isCheckInput"></app-buttons></td>
        </tr>
    </tbody>

</table>