<table
  tuiTable
  [style.width.rem]="36"
  class="w-full text-left border-t border-b border-1 border-gray-300"
>
  <caption tuiCaption>
    <div class="relative">
      <tui-pagination
        [length]="length"
        [style.float]="'center'"
        [(index)]="index"
      />
      <button
        class="absolute right-0"
        appearance="flat"
        tuiButton
        tuiButtonSelect
        type="button"
        [(ngModel)]="size"
      >
        {{ index * size + 1 }}-{{ (index + 1) * size }} rows
        <tui-data-list-wrapper
          *tuiTextfieldDropdown
          [itemContent]="content"
          [items]="items"
        />
      </button>
    </div>
  </caption>
  <thead>
    <tr tuiThGroup>
      <th tuiTh>STT</th>
      <th tuiTh>Tên kỳ thi</th>
      <th tuiTh>Hình thức thi</th>
      <th tuiTh>Đối tượng thi</th>
      <th tuiTh>Vị trí thi</th>
      <th tuiTh>Môn thi nghiệp vụ</th>
      <th tuiTh></th>
    </tr>
  </thead>
  <tbody tuiTbody>
    <tr *ngFor="let item of data; let i = index">
      <td tuiTd>{{ i + 1 }}</td>
      <td tuiTd>{{ item.ten_ky_thi }}</td>
      <td tuiTd>{{ item.hinh_thuc_thi }}</td>
      <td tuiTd>{{ item.doi_tuong_thi }}</td>
      <td tuiTd>
        <span
          class="border-solid p-2 border-[#000000] border-opacity-[20%] rounded-lg border-1"
        >
          {{ item.vi_tri_thi }}
        </span>
      </td>
      <td tuiTd>
        <span
          class="border-solid p-2 border-[#000000] border-opacity-[20%] rounded-lg border-1"
        >
          {{ item.mon_thi_nghiep_vu }}
        </span>
      </td>
      <td tuiTd>
        <app-buttons label="Tham gia"> </app-buttons>
      </td>
    </tr>
  </tbody>
</table>
